[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/YixunLiang/diff-gaussian-rasterization.git
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/YixunLiang/simple-knn.git
[submodule "submodules/point-e"]
	path = submodules/point-e
	url = https://github.com/openai/point-e.git
